<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engaging Reader</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dompurify/dist/purify.min.js"></script>
</head>

<body>
    <h1 class="banner" onClick="window.location.reload();" >Engaging Reader</h1>

    <div id="upload-container">
        <div id="drop-area" class="drop-area">
            <img src="static/assets/upload.png" alt="Upload File">
            <label for="fileInput" class="labBtn">Upload File</label>
            <input type="file" id="fileInput" accept="image/*,.png,.jpg,.jpeg,.heic,.heif,.pdf,application/pdf">
        </div>
    </div>

    <div id="text-display"></div>

    <div id="loading-overlay" class="loading-overlay">
        <h1 class="banner">Engaging Reader</h1>
        <div class="loader2"></div>
        <label class="labBtn">Loading</label>
    </div>

    <div id="speech-controls" style="left: 50%;transform: translate(-50%, -50%);">
        <button id="playBtn"></button>
        <button id="pauseBtn"></button>
    </div>

    <!-- Definition Modal -->
    <div id="definitionModal" class="modal">
        <div class="modal-content">
            <h2 id="definitionWord">Definition</h2>
            <div id="definitionTextContent"></div>
            <div class="modal-speech-controls">
                <button id="modalPlayBtn"></button>
                <button id="modalPauseBtn"></button>
            </div>
            
            <div onclick="closeDefinitionModal()" class="close-btn">
                <img src="../static/assets/x.png" alt="">
        </div>
        </div>
    </div>

    <script src="static/javascript.js">
       
    </script>
</body>

</html>